<!DOCTYPE html>
<html>
    <head>
        <title>Lisää kirja</title>        
    </head>
    <body>
        <h2> Lisää kirja </h2>
        <form method="POST" action="/lisaakirja">
            <h5> Kirjoittaja: </h5>
            <input type="text" name="kirjoittaja"/>
            <h5> Kirjan nimi: </h5>
            <input type="text" name="otsikko"/>
            <tr>
                <td>
                    <br />
                    <br />
                </td>
            </tr>
            <input type="submit" value="Lisää" name="lisaa"/>
        </form>
        <p><a href="/">Takaisin</a></p>
    </body>
</html>
