<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Videovinkit</title>
        <meta charset="UTF-8" />
    </head>

    <body>
        <h1>Lisätyt videovinkit</h1>

        <ul id="listId">
            <li th:each="video : ${videot}">
                <span th:text="${video.otsikko}">otsikko</span>
                <span th:text=" url "></span>
                <span th:text="${video.url}">url</span>
                <span th:switch="${video.luettu}"> 
                    <span th:case="0">Ei luettu</span>
                    <span th:case="1">Luettu</span>
                </span>


                <a th:href="@{/{id}/muokkaavideota(id=${video.id})}">(muokkaa)</a>
                <a th:href="@{/{id}/poistavideo(id=${video.id})}">(poista)</a>
                <span th:switch="${video.luettu}"> 
                    <span th:case="0"><a th:href="@{/{id}/onko_katsottu(id=${video.id})}">(merkitse katsotuksi)</a></span>
                    <span th:case="1"><a th:href="@{/{id}/onko_katsottu(id=${video.id})}">(merkitse katsomattomaksi)</a></span>
                </span>

            </li>
        </ul>

        <a th:href="@{/}">Takaisin paasivulle</a>

    </body>

</html>
