<!DOCTYPE html>

<html>
    <head>
        <title>Lisää video</title>
    </head>
    <body>
        <h2> Lisää video </h2>
        <form method="POST" action="/lisaavideo">
            <h5> Otsikko: </h5>
            <input type="text" name="otsikko"/>
            <h5> Videon url: </h5>
            <input type="text" name="url"/>
            <tr>
                <td>
                    <br />
                    <br />
                </td>
            </tr>
            <input type="submit" value="Lisää" name="lisaa"/>
        </form>
        <p><a href="/">Takaisin</a></p>
    </body>
</html>
