<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Vinkit</title>
        <meta charset="UTF-8" />
    </head>

    <body>
        <h1>Lisätyt lukuvinkit</h1>

        <ul>
            <li th:each="kirja : ${kirjat}">
                <span th:text="${kirja.otsikko}">otsikko</span>
                <span th:text=" kirjoittajalta "></span>
                <span th:text="${kirja.kirjoittaja}">kirjoittaja</span>
               <a th:href="@{/{id}/muokkaa(id=${kirja.id})}">(muokkaa)</a>
            </li>
        </ul>

        <a th:href="@{/}">Takaisin paasivulle</a>

    </body>

</html>
